header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bcd9bb;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
  }
  
  header li {
    float: left;
  }
  
  header li a {
    display: block;
    color: #501b1d;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-family: "Barlow Thin", sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  header li a:hover {
    background-color:#501b1d;
    color: #dbaa5c;
  }

  header .active {
    background-color: #4CAF50;
  }

  .logo {
    height: 100px;
  }
  .search input[type='text'] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 16px;
    margin-right: 16px;
    font-size: 17px;
    color: #501b1d;
  }

  .search input[type='submit']{
      float: right;
      display:block;
      color:black;
      background-color:white;
      border:1px solid black;
      border-radius:10px;
      margin-top:10px;
      padding:10px;
      cursor:pointer; 
      margin:auto;
      margin-top:20px;
  }
  div#page-container {
    margin-top: 110px;
  }
  body {
    
    background-color: #e8e8e8;
  
  }

  h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    letter-spacing: 1.2px;
  }

  h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.4em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

h3 {
  font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1.2px;
    text-transform: uppercase;

}

p, .author, label {
    font-family: 'Arvo', serif;
    font-weight: 300;
}

  main {
    
    display: flex;

  }

  ul.card-list{
    display: flex; 
    flex-wrap: wrap; 
    margin: 25px;
    list-style: none;
  }

  li.card {
      margin: 10px;
      background-color: white;
      padding: 25px;
      flex: 0 0 33%;
      list-style: none;
      border: 1px solid #c2a678;
  }


  img {
      max-width: 100%
  }

  div#map {
      position: sticky;
      position: -webkit-sticky;
      top: 130px;
      right: 1px;   
      width: 450px;
      margin-top: 40px;
      border: 5px solid #c2a678;
      
  }

  .alert-danger {
    padding: 20px;
    background-color: #501b1d; /* Red */
    color: #e8e8e8;
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    right: 50%;
    
  }

  div.profile-content-wrapper {
    padding: 16px; 
    margin: 10px;
    
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 /* .location-galery {
      text: read site katie sent;
  }*/

  /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #floating-panel {
    width: 440px;
  }
  #place-id {
    width: 250px;
  }
  

